<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=localhost;User ID=sa;Password=sa;Initial Catalog=MeasureSystem;Pooling=true</Dbconnectstring>
  <Tableprefix></Tableprefix>
  <Systempath>/</Systempath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>0</Founderuid>
</BaseConfigInfo>