<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=202.108.31.21;User ID=sa;Password=admin,123;Initial Catalog=MeasureSystem;Pooling=true</Dbconnectstring>
  <!--<Dbconnectstring>Data Source=127.0.0.1;User ID=sa;Password=admin,123;Initial Catalog=MeasureSystem;Pooling=true</Dbconnectstring>-->
  <Tableprefix></Tableprefix>
  <Systempath>/</Systempath>
  <Dbtype>SqlServer</Dbtype>
  <Founderuid>0</Founderuid>
</BaseConfigInfo>