<?xml version="1.0"?>
<SystemInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enable>true</Enable>
  <Sysname>能源计量监测平台</Sysname>
  <Version>3.0</Version>
  <Copyright>&amp;copy;2010-2015 北京菲波安乐仪表有限公司</Copyright>
  <Sysinfo />
  <SystemItemInfoCollection>
    <SystemItemInfo>
      <Name>蒸汽系统</Name>
      <Code>steam</Code>
      <Description>蒸汽系统</Description>
      <StructImage />
      <StructImageWidth />
      <StructImageHeight />
    </SystemItemInfo>
    <SystemItemInfo>
      <Name>水系统</Name>
      <Code>water</Code>
      <Description>水系统</Description>
      <StructImage />
      <StructImageWidth />
      <StructImageHeight />
    </SystemItemInfo>
    <SystemItemInfo>
      <Name>空压系统</Name>
      <Code>air</Code>
      <Description>空压系统</Description>
      <StructImage />
      <StructImageWidth />
      <StructImageHeight />
    </SystemItemInfo>
    <SystemItemInfo>
      <Name>电系统</Name>
      <Code>electricity</Code>
      <Description>电系统</Description>
      <StructImage />
      <StructImageWidth />
      <StructImageHeight />
    </SystemItemInfo>
  </SystemItemInfoCollection>
</SystemInfo>